<p class="lead">I'm moving and I have to give away all of my books.</p>
<p>So I'm giving them away. For free. No strings attached.</p>
<p>Just pay USPS flat-rate media-mail shipping of $5.20 and they're yours.</p>

<% @books.each do |book| %>
<table>

  <tr>
    <td><%= link_to book_cover_image(book), book_path(book.isbn) %>
      <%= link_to book.title, book_path(book.isbn) %></td>
  </tr>

</table>
<% end %>
