/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

.navbar-bookshare {
    background-color:#fff;
    color:#333;
    border-bottom: 1px solid #eee !important;
    border-radius: 0 !important;
    /*padding: 5px 20px 5px 20px;*/
}

#scalingphp {
  width: 210px;
  border-radius: 20px;
  margin-right: 15px;
}

#navbar-main {
  padding-top:5px;
}

.navbar-bookshare .navbar-nav > li > a {
    color:#4B8FC3;
    font-family: "freight-sans-pro";
    font-weight: 400;
    font-size: 18px;
}
.navbar-bookshare .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color:#fff;
    padding-top:15px;
}

.navbar-bookshare .navbar-nav a:hover {
  background-color: #fff !important;
  color: #95C0E1 !important;
}

.navbar-bookshare .navbar-brand {
    color:#333;
    font-family: 'Poiret One', cursive;
    font-weight:800;
    font-size:31px;
}

.brand {
  font-family: 'Poiret One', cursive;
  font-weight:800;
  font-size:24px;
  color: #666;
}

#footer #branding {
}

#footer p.small {
  margin:0px !important;
  color: #666;
  font-family:"freight-sans-pro";
}

.btn {
  background-color: #fff !important;
  color: #333 !important;
  text-transform:uppercase;
  font-family: "freight-sans-pro";
  font-size: 14px !important;
  font-weight:400 !important;
  padding: 10px 30px 10px 30px !important;
  border: 3px solid #eee !important;
}

.btn:hover {
  transition: all .2s ease-in;
}

.btn-primary:hover {
  background-color: #4071BF !important;
  color: #fff !important;
}

.btn-primary {
  color: #4071BF !important;
  border: 3px solid #4071BF !important;
}

.btn-success {
  color: #226722 !important;
  border: 3px solid #C5E3AB !important;
}

.btn-success:hover {
  background-color: #C5E3AB !important;
  color: #226722 !important;
}

.navbar-btn {
  padding: 5px 10px 5px 10px !important;
  font-size:12px !important;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

#push, #footer {
  height: 120px;
}

#footer {
  background-color: #ccc;
}

#footer p {
  margin: 20px 0;
}

#me {
  margin: 20px;
  border-radius: 90px;
}

#email-form {

}

#email-form input {
}

#email-form .btn {
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
