/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.navbar-bookshare {
    background-color:#fff;
    color:#333;
    border-bottom: 10px solid #eee !important;
    border-radius: 0 !important;
    padding:5px 20px 5px 20px;
}

.navbar-bookshare .navbar-nav > li > a {
    color:#333;
    font-family: "Helvetica Neue";
    font-weight: 200;
}
.navbar-bookshare .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #333;
    background-color:#fff;
}
.navbar-bookshare .navbar-brand {
    color:#333;
    font-family: 'Poiret One', cursive;
    font-weight:800;
}

.btn-primary {
  background-color: #fff !important;
  color: #333 !important;
  text-transform:uppercase;
  font-family: "Arial";
  font-weight:200 !important;
  padding: 10px 30px 10px 30px !important;
  border: 3px solid #87ABC5 !important;
}
