// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-color: #fff;
}

.jumbotron h1 {
  font-family: "clavo";
  font-weight: 400;
  padding-bottom: 20px;
}

h1 {
  font-family: "clavo";
  font-weight: 400;
}

h2, h3 {
  font-family: "clavo";
}

h4, h5 {
  font-family: "clavo";
}

p.lead {
font-family: "freight-sans-pro";
}

p {
  font-family: "freight-sans-pro";
}

#questions {
  margin-bottom: 60px;
}

.panel {
  font-size: 15px;
  font-family: "freight-sans-pro";
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
  border: 3px solid #eee;
  background-color: #fff;
  color: #333;
}

#questions .panel {
  border: 3px solid #4071BF;
}

.panel-heading {
  background-color: #eee;
  border: 0px;
  border-radius:0px;
}

#questions .panel-heading {
  background-color: #4071BF;
  color: #fff;
}

img.cover {
  border: 1px solid #eee;
}

#about p {
  font-size:14px;
}

#about .avatar {
  border-radius: 20px;
  padding: 2px;
  margin-left:8px;
  border: 1px solid #ccc;
}

#books .col-md-3 {
}

.book {
  margin-bottom: 25px;
}

.selected {
  opacity:0.4;
}

.label {
  margin:2px;
}

.books_left {
  padding-right:10px;
}
