// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-color: #fff;
  height: 300px;
  border-bottom: 10px solid #eee;
  padding-bottom: 350px;
}

#questions {
  height: 350px;
}

#questions .question-block {
  margin-top:50px;
  border: 2px solid #4071BF;
  padding:20px;
  height: 200px;
  border-radius: 10px;
}

img.cover {
  border: 1px solid #eee;
}

#about p {
  font-size:14px;
}

#about .avatar {
  border-radius: 20px;
  padding: 2px;
  margin-left:8px;
  border: 1px solid #ccc;
}

#books {
}

.book {
  padding-top:40px;
  height:300px;
}

.selected {
  opacity:0.4;
}

.label {
  margin:2px;
}

.books_left {
  padding-right:10px;
}
